.app {
  max-width: 1200px;
  margin:  0 auto;
  padding: 20px;
}

h1 {
  display: flex;
  font-size: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

main {
 align-items: center;
 width: 100%;
}



.person_container {
  display: inline-table;
  justify-content: space-between;
  text-align: center;
  background-color: #fcb79e;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fefbf7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.person_container p {
  margin: 8px 0;
}

.reminder {
  color: #e67e22;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px;
  background-color: #fff3e0;  
}
